{% extends 'base.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block body %}
    <h2>Articulos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Fecha de creación</th>
                <th>Autor</th>
                <th>Ver los detalles</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.titulo }}</td>
                <td>{{ articulo.contenido }}</td>
                <td>{{ articulo.creationDate ? articulo.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="link" href="{{ path('usuario_show', {'id': articulo.usuario.id}) }}">{{ articulo.usuario }}</a>

                </td>
                <td>
                    <a class="link" href="{{ path('articulo_show', {'id': articulo.id}) }}">ver</a>
                </td>
                <td>
                    <a class="link" href="{{ path('articulo_edit', {'id': articulo.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="link" href="{{ path('articulo_new') }}">Crear nuevo articulo</a>
{% endblock %}
